body,
html {
    font-family: "JetBrains Mono", monospace !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.post-title,
.site-title {
    font-family: "JetBrains Mono", monospace !important;
}

.button-40 {
    background-color: #111827 !important;
    border: 1px solid transparent !important;
    border-radius: 0.75rem !important;
    box-sizing: border-box !important;
    color: #ffffff !important;
    cursor: pointer !important;
    flex: 0 0 auto !important;
    font-family:
        "Inter var",
        ui-sans-serif,
        system-ui,
        -apple-system,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji" !important;
    font-size: 1.125rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    padding: 0.75rem 1.2rem !important;
    text-align: center !important;
    text-decoration: none #6b7280 solid !important;
    text-decoration-thickness: auto !important;
    transition-duration: 0.2s !important;
    transition-property: background-color, border-color, color, fill, stroke !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    width: auto !important;
}

.button-40:hover {
    background-color: #374151 !important;
}

.button-40:focus {
    box-shadow: none !important;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}

@media (min-width: 768px) {
    .button-40 {
        padding: 0.75rem 1.5rem !important;
    }
}
